@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
:root {
  --hitam: #090a0b;
  --abu-abu: #cecece;
  --warna1: #8e6456;
  --warna2: #414048;
  --warna3: #533427;
  --warna4: #5d5d5f;
  --warna5: #956d57;
  --warna6: #836f71;
}

body,
html {
  font-family: "Poppins", sans-serif !important;
  height: 2000vh;
  background-color: rgb(230, 230, 230) !important;
}

/* Navbar */
nav {
  z-index: 100;
}
.navbar {
  transition: all 1.5s ease-in-out;
}
.navbar-brand {
  font-size: 2.5rem !important;
  font-family: "Viga", sans-serif;
}
.navbar-nav {
  font-weight: 600;
}
.nav-item a {
  overflow: hidden;
  box-sizing: border-box;
  font-size: 1.3rem;
  margin-bottom: -5px;
}

.bawah::after {
  content: "";
  display: block;
  border-bottom: 3px solid #f5f5f5;
  width: 65%;
  margin: auto;
  opacity: 0;
  transition: 0.5s;
}
.bawah:hover::after {
  animation: slide 0.3s forwards;
  opacity: 1;
}
.nav-scrolled-text-shadow {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.nav-scrolled {
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.2);
  transition: all 1.5s;
}
.navbar-brand,
.nav-item a {
  transition: all 1.5s ease-in;
}
.navbar-toggler,
.navbar-toggler-icon {
  transition: all 1.5s ease-out;
}

@keyframes slide {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

/* ==================================================================== */
/* Jumbotron */
.jumbotron {
  min-height: 80vh;
  background-image: url(../img/cafe.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.jumbotron::after {
  content: "";
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jumbotron-text {
  padding-top: 200px;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 10;
}
.jumbotron-text h1 {
  color: #fff;
  font-size: 4.5rem;
  font-weight: 400;
}
.jumbotron-text p {
  color: #cecece;
}

.jumbotron-button {
  position: relative;
  z-index: 1;
}

/* ==================================================================== */
/* Menu Section */
.menu {
  padding-top: 50px;
}

.menu-text {
  position: relative;
  z-index: 1000;
}

.menu-title h2 {
  color: #956d57;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  font-size: 2.5rem;
}

.menu-text h5 {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  color: #8e6456;
}

.menu-list {
  background: linear-gradient(to right, rgb(120, 50, 25), rgb(180, 110, 80), rgb(200, 130, 100));
  width: max-content;
  padding: 12px 20px 12px 12px;
  border-radius: 5px 30px 30px 5px;
  color: #fff;
}
.menu-list p,
.menu-list span {
  font-size: 1.5rem;
  font-weight: 600;
}
.menu-list p {
  transition: all 0.3s ease;
}
.menu-list p:hover {
  opacity: 0.6;
  cursor: pointer;
}

.border-menu-image {
  box-shadow: 10px 15px 20px 5px rgba(100, 100, 100, 0.4);
  border-radius: 10px;
  overflow: hidden;
}
.border-menu-image img {
  width: 100%;
  height: 100%;
}

.right-img-menu {
  bottom: -70px;
  right: 0;
  box-shadow: -5px 10px 20px 3px rgba(100, 100, 100, 0.4);
  border-radius: 10px;
  overflow: hidden;
}

.dropdown-menu {
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 991px) {
  .bawah::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .jumbotron-text {
    padding-top: 150px;
  }
  .jumbotron-text h1 {
    font-size: 3.5rem;
    padding-top: 10px;
  }

  .menu-text {
    margin-top: 0;
  }

  .border-menu-image {
    max-height: 450px;
    max-width: 400px;
  }
}
