@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
:root {
  --hitam: #090a0b;
  --abu-abu: #cecece;
  --warna1: #8e6456;
  --warna2: #414048;
  --warna3: #533427;
  --warna4: #5d5d5f;
  --warna5: #956d57;
  --warna6: #836f71;
}

body,
html {
  font-family: "Poppins", sans-serif !important;
  height: 2000vh;
  background-color: rgb(230, 230, 230) !important;
}

/* Navbar */
nav {
  z-index: 100;
}
.navbar {
  transition: all 1.5s ease-in-out;
}
.navbar-brand {
  font-size: 2.5rem !important;
  font-family: "Viga", sans-serif;
}
.navbar-nav {
  font-size: 1.05rem;
  font-weight: 600;
}
.nav-item a {
  overflow: hidden;
  box-sizing: border-box;
}

.bawah::after {
  content: "";
  display: block;
  border-bottom: 3px solid #f5f5f5;
  width: 65%;
  margin: auto;
  opacity: 0;
  transition: 0.5s;
}
.bawah:hover::after {
  animation: slide 0.3s forwards;
  opacity: 1;
}
.nav-scrolled-text-shadow {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.nav-scrolled {
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.2);
  transition: all 1.5s;
}
.navbar-brand,
.nav-item a {
  transition: all 1.5s ease-in;
}
.navbar-toggler,
.navbar-toggler-icon {
  transition: all 1.5s ease-out;
}

@keyframes slide {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

/* ==================================================================== */
/* Jumbotron */
.jumbotron {
  min-height: 80vh;
  background-image: url(../img/cafe.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.jumbotron::after {
  content: "";
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jumbotron-text {
  padding-top: 200px;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 10;
}
.jumbotron-text h1 {
  color: #fff;
  font-size: 4.5rem;
  font-weight: 400;
}
.jumbotron-text p {
  color: #cecece;
}

.jumbotron-button {
  position: relative;
  z-index: 1;
}

/* ==================================================================== */
/* Menu Section */
.menu {
  padding-top: 50px;
}

/* Responsive */
@media (max-width: 991px) {
  .bawah::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .jumbotron-text {
    padding-top: 150px;
  }
  .jumbotron-text h1 {
    font-size: 3.5rem;
    padding-top: 10px;
  }
}
